<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="utf=8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- width=device-width sets width of page to follow screen width of device, initial-scale=1 sets initial zoom level when the page is first loaded by the browser-->
	<meta name=”description” content="Duke Street Medicine (StreetMed) is Duke's premier urban dance group. Street Med performs on-campus and in the North Carolina dance community. Watch us perform at Duke Homecoming Party on the Plaza, ASA's Lunar New Year (LNY) celebration, and the Dance Council Showcase.">
	<meta name=”robots” content="index, follow">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel='icon' href='/images/stmdLogo.png' type='image/x-icon'/ >
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=”canonical” href="https://dukestreetmedicine.herokuapp.com/">
  </head>
  <body data-spy="scroll" data-target="navbar" data-offset="50">
  	<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
		<div class="container-fluid" id="onNav">
			<div class="navbar-header" id="onNav">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="onNav">
					<span class="icon-bar" id="buttoning"></span>
					<span class="icon-bar" id="buttoning"></span>
					<span class="icon-bar" id="buttoning"></span>
				</button>
				<a class="navbar-brand active" href="/" id="onNav" style="padding-left:15px; padding-top:5px"><img src="/images/stmdLogoNoBkgd.png" alt="Home" height=40px width=60px></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li id="onNav"><a href="/">Home</a></li>
					<li id="onNav"><a href="/about">About</a></li>
					<li id="onNav"><a href="/members">Members</a></li>
					<li id="onNav"><a href="/media">Media</a></li>
					<li id="onNav"><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
    <div class="container-fluid" id="aboutTitle">
    </div>
    <div class="container-fluid" id="aboutAbout">
    	<h1>About</h1>
    	<br>
    	<div class="col-xs-12 col-sm-4 col-lg-4">
	    	<h3>Our Story</h3>
	    	<br><br>
	    	<img src="/images/SZNI.jpg" style="width:100%; border:solid; border-color:black; border-width:7px"></img>
	    	<br><br><br>
	    	<p>StreetMed is Duke’s premier urban dance group. Founded in 2014 by Tim Luu, Ray Liu, and Rebecca Holmes, StreetMed emphasizes growing through improvement with a community-oriented family of dancers. By providing a space for Duke students of all skill levels to learn and perform urban dance styles, StreetMed seeks to develop greater interest in hip-hop dance at Duke University, to increase access to dance education and performance opportunities, and to connect interested students with the greater dance and Durham community.</p>
    	</div>
    	<div class="col-xs-12 col-sm-4 col-lg-4">
	    	<h3>What We Do</h3>
	    	<br><br>
	    	<img src="/images/Sara.jpeg" style="width:100%; border:solid; border-color:black; border-width:7px"></img>
	    	<br><br><br>
	    	<p>Catch us performing on campus in the Alumni Association's Party on the Plaza during homecoming, Asian Student Association's Lunar New Year celebration, and Dance Council Showcase during first week of class. StreetMed also hosts our own end-of-the-year showcase in the spring, and performs at a variety of off-campus venues to engage in the North Carolina dance community. Above all, we are a growth-focused community that values improvement and enjoys supporting one another!</p>
    	</div>
    	<div class="col-xs-12 col-sm-4 col-lg-4">
    		<h3>Join Us</h3>
    		<br><br>
    		<img src="/images/Santi.jpeg" style="width:100%; border:solid; border-color:black; border-width:7px"></img>
    		<br><br><br>
	    	<p>Auditions for StreetMed are held at the beginning of the fall semester. Whether you're a seasoned dancer or someone who just started dancing, we'd love for you to come. In addition, if you're looking to grow alongside other dedicated, supportive dancers, we invite you to attend one of our monthly workshops or community classes throughout the year. Check out our <a href="https://www.facebook.com/streetmed/?epa=SEARCH_BOX">Facebook</a> page to stay updated with audition and workshop information, and look out for us at Dance Council Showcase during first week of classes.</p>
    	</div>
    </div>
    <div class="container-fluid" id="footer">
    	<div class="col-xs-12 col-sm-6 col-lg-6">
    		<h3>Connect with Us</h3>
    		<br>
			<a href="https://www.facebook.com/streetmed/" id="footerA"><i class="fa fa-facebook-square" style="font-size:60px">&nbsp&nbsp&nbsp</i></a>
			<a href="https://www.instagram.com/dukestreetmed/?hl=en" id="footerA"><i class="fa fa-instagram" style="font-size:60px">&nbsp&nbsp&nbsp</i></a>
			<a href="https://www.youtube.com/channel/UC9zYH_Unyj39N-1SNt-VVEw" id="footerA"><i class="fa fa-youtube" style="font-size:60px"></i></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-6">
    		<h3>Contact Us</h3>
    		<br>
			<h3>dukestreetmed@gmail.com</h3>
		</div>
    </div>
    <div class="container-fluid" id="signature">
    	<h4>Website by Katherine Barbano</h4>
	</div>
  </body>
</html>
