<!DOCTYPE html>
<html>
  <head>
    <title>Duke Street Medicine</title>
    <meta charset="utf=8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- width=device-width sets width of page to follow screen width of device, initial-scale=1 sets initial zoom level when the page is first loaded by the browser-->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel='icon' href='/images/stmdLogo.png' type='image/x-icon'/ >
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body data-spy="scroll" data-target="navbar" data-offset="50">
  	<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
		<div class="container-fluid" id="onNav">
			<div class="navbar-header" id="onNav">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="onNav">
					<span class="icon-bar" id="buttoning"></span>
					<span class="icon-bar" id="buttoning"></span>
					<span class="icon-bar" id="buttoning"></span>
				</button>
				<a class="navbar-brand active" href="/" id="onNav" style="padding-left:15px; padding-top:5px"><img src="/images/stmdLogoNoBkgd.png" alt="Home" height=40px width=60px></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li id="onNav"><a href="/">Home</a></li>
					<li id="onNav"><a href="/about">About</a></li>
					<li id="onNav"><a href="/members">Members</a></li>
					<li id="onNav"><a href="/media">Media</a></li>
					<li id="onNav"><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
    <div class="container-fluid" id="homeTitle">
    	<h1>Street Medicine</h1>
    	<img src="/images/stmdLogoNoBkgd.png" style="display:block; margin-left:auto; margin-right:auto; width:15%">
    	<h4>Duke University's premier urban dance team</h4>
    </div>
    <div class="container-fluid" id="homeAbout">
    	<p>Street Medicine is Duke's premier urban dance group committed to strengthening the urban dance community both at Duke and in North Carolina. We were founded with the goal of providing an outlet for individuals to learn and appreciate urban choreography and hip-hop dance.</p>
    </div>
    <div class="container-fluid" id="homeBoxes">
		<a href="/about"><div class="col-xs-12 col-sm-6 col-lg-6" id="aboutBox">About</div></a>
		<a href="/members"><div class="col-xs-12 col-sm-6 col-lg-6" id="membersBox">Members</div></a>
    </div>
    <div class="container-fluid" id="footer">
    	<div class="col-xs-12 col-sm-6 col-lg-6">
    		<h3>Connect with Us</h3>
    		<br>
			<a href="https://www.facebook.com/streetmed/" id="footerA"><i class="fa fa-facebook-square" style="font-size:60px">&nbsp&nbsp&nbsp</i></a>
			<a href="https://www.instagram.com/dukestreetmed/?hl=en" id="footerA"><i class="fa fa-instagram" style="font-size:60px">&nbsp&nbsp&nbsp</i></a>
			<a href="https://www.youtube.com/channel/UC9zYH_Unyj39N-1SNt-VVEw" id="footerA"><i class="fa fa-youtube" style="font-size:60px"></i></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-6">
    		<h3>Contact Us</h3>
    		<br>
			<h3>dukestreetmed@gmail.com</h3>
		</div>
    </div>
    <div class="container-fluid" id="signature">
    	<h4>Website by Katherine Barbano</h4>
	</div>
  </body>
</html>
