<!DOCTYPE html>
<html>
  <head>
    <title>Media</title>
    <meta charset="utf=8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- width=device-width sets width of page to follow screen width of device, initial-scale=1 sets initial zoom level when the page is first loaded by the browser-->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel='icon' href='/images/stmdLogo.png' type='image/x-icon'/ >
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body data-spy="scroll" data-target="navbar" data-offset="50">
  	<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
		<div class="container-fluid" id="onNav">
			<div class="navbar-header" id="onNav">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="onNav">
					<span class="icon-bar" id="buttoning"></span>
					<span class="icon-bar" id="buttoning"></span>
					<span class="icon-bar" id="buttoning"></span>
				</button>
				<a class="navbar-brand active" href="/" id="onNav" style="padding-left:15px; padding-top:5px"><img src="/images/stmdLogoNoBkgd.png" alt="Home" height=40px width=60px></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li id="onNav"><a href="/">Home</a></li>
					<li id="onNav"><a href="/about">About</a></li>
					<li id="onNav"><a href="/members">Members</a></li>
					<li id="onNav"><a href="/media">Media</a></li>
					<li id="onNav"><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
    <div class="container-fluid" id="mediaTitle">
    </div>
    <div class="container-fluid" id="media">
    	<h1>Media</h1>
    	<p>Check out our videos below! For more content, subscribe to us on <a href="https://www.youtube.com/channel/UC9zYH_Unyj39N-1SNt-VVEw">YouTube</a> and follow us on <a href="https://www.facebook.com/streetmed/">Facebook</a> and <a href="https://www.instagram.com/dukestreetmed/?hl=en">Instagram</a>.</p>
    	<iframe width="500px" height="315px" src="https://www.youtube.com/embed/vH3ptzdhaSU"></iframe>
    	<iframe width="500px" height="315px" src="https://www.youtube.com/embed/BsT9QDqBiwc"></iframe>
    	<iframe width="500px" height="315px" src="https://www.youtube.com/embed/hn5m-wfoL7Y"></iframe>
    	<iframe width="500px" height="315px" src="https://www.youtube.com/embed/ANsYXwHCFlA"></iframe>
    	<iframe width="500px" height="315px" src="https://www.youtube.com/embed/uFor3kU_OQI"></iframe>
    	<iframe width="500px" height="315px" src="https://www.youtube.com/embed/fHzga5m9nMA"></iframe>
    	<iframe width="500px" height="315px" src="https://www.youtube.com/embed/fiUSoFUZxNg"></iframe>
    	<iframe width="500px" height="315px" src="https://www.youtube.com/embed/FFwFoYUJgqg"></iframe>
    	<iframe width="500px" height="315px" src="https://www.youtube.com/embed/kHgQIPJgHvI"></iframe>
    	<iframe width="500px" height="315px" src="https://www.youtube.com/embed/w1yFNpcdJo8"></iframe>
    </div>
    <div class="container-fluid" id="footer">
    	<div class="col-xs-12 col-sm-6 col-lg-6">
    		<h3>Connect with Us</h3>
    		<br>
			<a href="https://www.facebook.com/streetmed/" id="footerA"><i class="fa fa-facebook-square" style="font-size:60px">&nbsp&nbsp&nbsp</i></a>
			<a href="https://www.instagram.com/dukestreetmed/?hl=en" id="footerA"><i class="fa fa-instagram" style="font-size:60px">&nbsp&nbsp&nbsp</i></a>
			<a href="https://www.youtube.com/channel/UC9zYH_Unyj39N-1SNt-VVEw" id="footerA"><i class="fa fa-youtube" style="font-size:60px"></i></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-6">
    		<h3>Contact Us</h3>
    		<br>
			<h3>dukestreetmed@gmail.com</h3>
		</div>
    </div>
    <div class="container-fluid" id="signature">
    	<h4>Website by Katherine Barbano</h4>
	</div>
  </body>
</html>
