<!DOCTYPE html>
<html>
  <head>
    <title>Members</title>
    <meta charset="utf=8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- width=device-width sets width of page to follow screen width of device, initial-scale=1 sets initial zoom level when the page is first loaded by the browser-->
	<meta name=”description” content="Meet the members of Duke Street Medicine (StreetMed), Duke's premier street-style dance crew.">
	<meta name=”robots” content="index, follow">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/stmdLogo.png' type='image/x-icon'/ >
    <link rel='stylesheet' href='/stylesheets/memberPicStyles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=”canonical” href="https://dukestreetmedicine.herokuapp.com/">
  </head>
  <body data-spy="scroll" data-target="navbar" data-offset="50">
  	<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
		<div class="container-fluid" id="onNav">
			<div class="navbar-header" id="onNav">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="onNav">
					<span class="icon-bar" id="buttoning"></span>
					<span class="icon-bar" id="buttoning"></span>
					<span class="icon-bar" id="buttoning"></span>
				</button>
				<a class="navbar-brand active" href="/" id="onNav" style="padding-left:15px; padding-top:5px"><img src="/images/stmdLogoNoBkgd.png" alt="Home" height=40px width=60px></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li id="onNav"><a href="/">Home</a></li>
					<li id="onNav"><a href="/about">About</a></li>
					<li id="onNav"><a href="/members">Members</a></li>
					<li id="onNav"><a href="/media">Media</a></li>
					<li id="onNav"><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
    <div class="container-fluid" id="membersTitle">
    </div>
    <div class="container-fluid" id="members">
    	<h1>Members</h1>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Prince"><h2>Zi "Prince" Wang</h2><h4>Grad Student</h4><h4>Season III</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Carter"><h2>Carter Teng</h2><h4>Senior</h4><h4>Season IV</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Mitchell"><h2>Mitchell Fleszar-Friedman</h2><h4>Senior</h4><h4>Season IV</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Alex"><h2>Alex Ragh</h2><h4>Senior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Amr"><h2>Amr Bedawi</h2><h4>Senior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Destiny"><h2>Destiny Mulero</h2><h4>Senior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="KatherineB"><h2>Katherine Barbano</h2><h4>Junior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Linus"><h2>Linus Li</h2><h4>Junior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Mabelle"><h2>Mabelle Zhang</h2><h4>Senior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Michael"><h2>Michael Tian</h2><h4>Junior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Santi"><h2>Santi Orozco</h2><h4>Senior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Sara"><h2>Sara Burpeau</h2><h4>Junior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Shana"><h2>Shana Abraham</h2><h4>Senior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Uwa"><h2>Uwa Ihionkhan</h2><h4>Senior</h4><h4>Season V</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Annika"><h2>Annika Allado</h2><h4>Sophomore</h4><h4>Season VI</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Joanne"><h2>Joanne Gabriel</h2><h4>Sophomore</h4><h4>Season VI</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Michaela"><h2>Michaela Sylvia</h2><h4>Sophomore</h4><h4>Season VI</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Nathan"><h2>Nathan Cho</h2><h4>Sophomore</h4><h4>Season VI</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Rachel"><h2>Rachel Irengo</h2><h4>Sophomore</h4><h4>Season VI</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Ruby"><h2>Ruby Ehrlich</h2><h4>Sophomore</h4><h4>Season VI</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Sarah"><h2>Sarah Locurto</h2><h4>Sophomore</h4><h4>Season VI</h4></div>
    	<div class="col-xs-12 col-sm-4 col-lg-3" id="Terrence"><h2>Terrence Jung</h2><h4>Sophomore</h4><h4>Season VI</h4></div>
	</div>
	<div class="container-fluid" id="specialMembers">
		<div class="col-xs-12 col-sm-12 col-lg-12" id="membersExec">
			<h1>Executive Board 19-20</h1>
			<p>Directors: Shana Abraham and Mitchell Fleszar-Friedman</p>
			<p>Assistant Director: Mabelle Zhang</p>
			<p>Treasurer: Amr Bedawi</p>
			<p>Design Chair: Annika Allado</p>
			<p>Outreach Chair: Rachel Irengo</p>
			<p>Publicity Chair: Terrence Jung</p>
			<p>Social Chairs: Sara Burpeau and Linus Li</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-12" id="membersAlum">
			<h1>StreetMed Alumni</h1>
			<table id="membersAlum" style="overflow-x:auto">
				<tr>
					<td>Albert Zhu</td>
					<td>Alexus Wells</td>
					<td>Amanda Lee</td>
					<td>Amaree Gardner</td>
				</tr>
				<tr>
					<td>Ashley Hwang</td>
					<td>Brandon Ngo</td>
					<td>Danielle Ngo</td>
					<td>David Ryu</td>
				</tr>
				<tr>
					<td>Eu Fern Pan</td>
					<td>Jenny Su</td>
					<td>Jin Oh</td>
					<td>Joseph Kim</td>
				</tr>
				<tr>
					<td>Lin Lin Pan</td>
					<td>Magdalena Dakeva</td>
					<td>Masha Stoertz</td>
					<td>Michelle Li</td>
				</tr>
				<tr>
					<td>Moeko Nagatsuka</td>
					<td>Nancy Zhu</td>
					<td>Tim Luu</td>
					<td>Noor Tasnim</td>
				</tr>
				<tr>
					<td>Tianyi Ren</td>
					<td>Josh Wu</td>
					<td>Joy Kim</td>
					<td>Rayner Liu</td>
				</tr>
				<tr>
					<td>Rebecca Holmes</td>
					<td>Vanessa Wu</td>
					<td>Ziwei Zhao</td>
					<td>Eden Ashebir</td>
				</tr>
				<tr>
					<td>Rhona Ke</td>
					<td>Xiaoxiao Cai</td>
					<td>Nishkala Shivakumar</td>
					<td>Amy Cheng</td>
				</tr>
				<tr>
					<td>Angela Cho</td>
					<td>Sam Moon</td>
					<td>Sherry Yang</td>
					<td>Divya Koyyalagunta</td>
				</tr>
				<tr>
					<td>Ben Grant</td>
					<td>Arianna Carr</td>
					<td>Dahlia Chacon</td>
					<td>Cathy Chen</td>
				</tr>
				<tr>
					<td>Austin Zhang</td>
					<td>Christine Yang</td>
					<td>Grace Shen</td>
					<td>Esther Kwarteng</td>
				</tr>
			</table>
		</div>
	</div>
    <div class="container-fluid" id="footer">
    	<div class="col-xs-12 col-sm-6 col-lg-6">
    		<h3>Connect with Us</h3>
    		<br>
			<a href="https://www.facebook.com/streetmed/" id="footerA"><i class="fa fa-facebook-square" style="font-size:60px">&nbsp&nbsp&nbsp</i></a>
			<a href="https://www.instagram.com/dukestreetmed/?hl=en" id="footerA"><i class="fa fa-instagram" style="font-size:60px">&nbsp&nbsp&nbsp</i></a>
			<a href="https://www.youtube.com/channel/UC9zYH_Unyj39N-1SNt-VVEw" id="footerA"><i class="fa fa-youtube" style="font-size:60px"></i></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-6">
    		<h3>Contact Us</h3>
    		<br>
			<h3>dukestreetmed@gmail.com</h3>
		</div>
    </div>
    <div class="container-fluid" id="signature">
    	<h4>Website by Katherine Barbano</h4>
	</div>
  </body>
</html>
